@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?esd5l5');
  src:  url('fonts/icomoon.eot?esd5l5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?esd5l5') format('truetype'),
    url('fonts/icomoon.woff?esd5l5') format('woff'),
    url('fonts/icomoon.svg?esd5l5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-photo-camera2:before {
  content: "\e918";
}
.icon-speedometer:before {
  content: "\e919";
}
.icon-menu-button-of-three-lines:before {
  content: "\e916";
}
.icon-menu-three-horizontal-lines-symbol:before {
  content: "\e917";
}
.icon-garbage:before {
  content: "\e914";
}
.icon-left-arrow:before {
  content: "\e915";
}
.icon-coffee-cup:before {
  content: "\e911";
}
.icon-fountain-pen:before {
  content: "\e912";
}
.icon-star:before {
  content: "\e913";
}
.icon-diamond:before {
  content: "\e90e";
}
.icon-glasses:before {
  content: "\e90f";
}
.icon-photo-camera:before {
  content: "\e910";
}
.icon-chat:before {
  content: "\e90c";
}
.icon-like:before {
  content: "\e90d";
}
.icon-high-volume:before {
  content: "\e90b";
}
.icon-headphones:before {
  content: "\e900";
}
.icon-imac:before {
  content: "\e901";
}
.icon-microphone:before {
  content: "\e902";
}
.icon-notepad:before {
  content: "\e903";
}
.icon-settings:before {
  content: "\e904";
}
.icon-trophy:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e906";
}
.icon-light-bulb:before {
  content: "\e907";
}
.icon-view:before {
  content: "\e908";
}
.icon-stack-of-three-coins:before {
  content: "\e909";
}
.icon-headset:before {
  content: "\e90a";
}

