@charset "UTF-8";
/* ------------------------------------------------------------------
 * [Table of contents]
 *
 * 1. Reset
 * 2. Base Styling
 * 3. Header
 * 4. Footer
 * 5. Widgets
 * 6. Buttons
 * 7. Forms
 * 8. Isotope
 * 9. Pagination
 * 10. Sections
 * 11. Responsive
 * 12. Slick
 *
 * ------------------------------------------------------------------ */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent;
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}
mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible;
    text-transform: none;
    outline: none;
}

select {
    text-transform: none
}

button,
html input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer
}

input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner {
    border: 0;
    padding: 0
}

input,
textarea {
    line-height: normal;
    outline: none;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

ul,
ol {
    margin: 0 0 1.5rem;
    padding: 0 0 0 2rem
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    -webkit-tap-highlight-color: transparent
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 27px;
    color: #757575;
    margin: 0;
}

p {
    color: #757575;
    margin: 0 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0;
  line-height: 1.5em;
  margin: 0 0 0.60em;
  font-weight: 400;
  color: #424242;
}

a,
.widget.social-widget ul li a i  {
  -webkit-transition: all 175ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: all 175ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 175ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  color: inherit;
  display: inline-block;
}
a:hover, a:active, a:focus {
  text-decoration: none;
}

a:hover {

}

.articles-section table,
.articles-section td,
.articles-section th,
.widget table,
.widget td,
.widget th {
  border: 1px solid #C1C1C1;
}

.articles-section table,
.widget table {
  table-layout: fixed;
  text-align: left;
  margin: 0 0 25px;
  width: 100%;
}
.articles-section table td,
.articles-section table th,
.widget table td,
.widget table th {
  padding: 5px 12.5px;
}
.articles-section table thead th,
.widget table thead th {
  background: #6d6d6d;
  color: #ffffff;
}
.articles-section table thead tr th:not(:first-of-type):not(:last-of-type),
.widget table thead tr th:not(:first-of-type):not(:last-of-type) {
  border-right: 1px solid #C1C1C1;
  border-left: 1px solid #C1C1C1;
}
.articles-section table thead tr th:first-of-type,
.widget table thead tr th:first-of-type {
  border-right: 1px solid #C1C1C1;
}
.articles-section table thead tr th:last-of-type,
.widget table thead tr th:last-of-type {
  border-left: 1px solid #C1C1C1;
}
code,
pre {
  background: #6d6d6d;
  color: #fff;
}

code {
  padding: 2.5px 5px;
}

pre {
  padding: 12.5px 22.5px;
  margin: 0 0 20px;
}

dl {
  margin: 0 0 25px;
}
dl dt {
  font-weight: 700;
}
dl dd {
  margin-bottom: 10px;
  padding-left: 12.5px;
}

address {
  border: 2px dashed rgba(129, 121, 109, 0.3);
  display: block;
  max-width: 400px;
  line-height: 1.65em;
  font-style: italic;
  padding: 12px 20px;
  font-size: 18px;
  margin-bottom: 20px;
}
.article .description ul,
.article .description ol {
  padding: 0 0 0 20px;
  margin: 0 0 20px;
}

figure.alignleft,
img.alignleft {
    padding: 0 15px 15px 0;
}

figure.alignright,
img.alignright {
    padding: 0 0 15px 15px;
}

figure {
    padding-bottom: 15px;
}
img.size-full, img.size-large {
  max-width: 100%;
  width: auto;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.row-fit,
.vc_row.row-fit {
  margin: 0;
}
.row-fit [class*="col-"] {
  padding: 0;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.no-padding,
.no-padding.wpb_column > .vc_column-inner {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.alignright {
  float: right !important;
}

.alignleft {
  float: left !important;
}

.aligncenter {
  display: table;
  margin: 0 auto;
}

.aligninline {
    display: inline-block;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.text-uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.center-block {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.position-relative {
    position: relative !important;
}

.position-static {
    position: static !important;
}

.responsive-media {
    position: relative;
    margin: 0 0 30px;
}

.responsive-media iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    border: 0;
}
.responsive-media.ratio16by9 {
    padding-bottom: 56.25%;
}

.no-m-top {
    margin-top: 0 !important;
}

.no-p-top {
    padding-top: 0 !important;
}

.no-m-bottom {
    margin-bottom: 0 !important;
}

.uppercase {
    text-transform: uppercase;
}

.text-white {
    color: #fff;
}

.bg-white {
    background: #fff;
}

.no-bg {
    background: none !important;
}

.clean-list {
    list-style-type: none;
    letter-spacing: 0em;
    padding: 0;
    margin: 0;
}

.ovh {
    overflow: hidden;
}

.wp-caption,
.wp-caption-text,
.screen-reader-text,
.gallery-caption,
.bypostauthor {}

#page {
    opacity: 0;
    visibility: hidden;
    transition: all 600ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

#page.dom-ready {
    opacity: 1;
    visibility: visible;
}

.page-wrapper {
    position: relative;
}

html .row-fit,
html .vc-row-fit {
  margin: 0;
}
html .row-fit [class*="col-"],
html .row-fit .vc_column_container > .vc_column-inner,
html .vc-row-fit .vc_column_container > .vc_column-inner {
  padding: 0;
}
html .row-fit [class*="col-"] .vc_row,
html .row-fit .vc_column_container > .vc_column-inner .vc_row,
html .vc-row-fit .vc_column_container > .vc_column-inner .vc_row {
  margin: 0 !important;
}

 .vc_row-has-fill>.vc_column_container>.vc_column-inner {
    padding-top: 0 !important;
 }

.full-height {
  height: 100vh;
  padding-bottom: 0;
  overflow-y: auto;
  padding-top: 0;
}
.middle-content {
  position: relative;
}
.middle-content > div:not(.vc_parallax-inner) {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.paralax-section {
  position: relative;
  overflow: hidden;
}
.paralax-section > div:not(.vc_parallax-inner) {
  position: relative;
  z-index: 1;
}
.paralax-section .vc_parallax-inner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.box-map {
  position: relative;
  overflow: hidden;
  min-height: 500px;
}
.box-map > div:not(#map-canvas) {
  z-index: 1;
  position: relative;
}
.box-map > div:not(#map-canvas) .container {
  pointer-events: none;
}
.box-map > div:not(#map-canvas) .container #map-canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  pointer-events: all;
}

.vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_vc_row_inner>.vc_row>.vc_vc_column_inner>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_row>.vc_vc_column>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_vc_column_inner>.vc_column_container>.vc_column-inner {
    padding-top: 0;
}

button,
header .main-nav ul li,
.service-item,
.service-item .service-icon,
.service-item.v2 .service-icon,
.subscribe-form .form-input,
.subscribe-form .form-submit,
.respond-form .form-input,
.respond-form .form-submit,
.comment-form .form-submit,
.search-form .form-input,
.project-item:before,
.team-member .cover:before,
.slick-next:before,
.slick-prev:before,
.blog-post-item .cover:before,
.pricing-table .buy-btn:before,
.video-toggle,
.error-404 .return-btn:before,
.article .cover,
.sidebar .widget.widget_categories ul li a:before,
.sidebar .widget.widget_archive ul li a:before,
.widget.widget_latest_posts ul li .image:before,
.widget.tesla-instagram-widget ul li a:before,
header .mobile-toggle,
header .main-nav ul li.menu-item-has-children:after  {
    -webkit-transition: all 245ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 245ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 245ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/*-------------Header--------------*/
header {
    position: absolute;
    color: #fff;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

@keyframes stickyheader {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

header.sticky.fixed {
    position: fixed;
    background: rgba(69, 39, 160,0.9);
    animation:  stickyheader 1s;
}

header .container {
    position: relative;
}

header .logo-wrapper,
header .main-nav {
    display: inline-block;
}

header .logo-wrapper {
    line-height: 68px;
}

header .main-nav {
    float: right;
}

header .buy-button {
    float: right;
    margin: 14px 0 0 15px;
}

header .mobile-toggle {
    display: none;
    position: absolute;
    color: #fff;
    width: 18px;
    height: 30px;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

header .mobile-toggle:hover {
    cursor: pointer;
    color: #cccccc;
}

header .mobile-toggle:before {
    content: "\e917";
    font-family: icomoon;
    font-style: normal;
    -webkit-backface-visibility: hidden;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
}

@media (min-width: 992px) {
    header .main-nav ul {
        display: inline-block;
        list-style-type: none;
        text-align: left;
        padding: 0;
        margin: 0;
    }

    header .main-nav ul li {
        position: relative;
        text-transform: uppercase;
        display: inline-block;
        letter-spacing: 0;
        vertical-align: top;
        position: relative;
        font-size: 13px;
        color: #fff;
    }

    header .main-nav > ul > li {
        margin-right: -3px;
    }

    header .main-nav ul li > a {
        padding: 21px 22px;
    }

    header .main-nav > ul > li:hover ,
    header .main-nav ul li.current-menu-item {
        background: rgba(255,255,255,0.3);
    }

    header .main-nav ul > li:hover > a,
    header .main-nav ul li.current-menu-item > a {
        color: #fff;
    }

    header .main-nav ul li ul li.current-menu-item {
        background: none;
    }

    header .main-nav ul li ul {
        -webkit-transition: all 245ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -moz-transition: all 245ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 245ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        visibility: hidden;
        opacity: 0;
        background: rgba(255,255,255,0.3);
        position: absolute;
        padding: 8px 20px 17px 25px;
        width: 220px;
        top: 100%;
        left: 0;
    }

    header .main-nav ul li ul li {
        text-transform: uppercase;
        display: block;
        color: white;
        padding: 5px 0;
    }

    header .main-nav ul li ul li a {
        padding: 0;
        color: #ebebeb;
    }
    header .main-nav ul li ul li a:hover {
        color: #fff;
    }
    header .main-nav ul li ul li ul {
        background: #332a47;
        left: 100%;
        top: 0;
    }

    header .main-nav ul li:hover > ul {
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 992px) {
    header .main-nav {
        -webkit-transition: all 180ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -moz-transition: all 180ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 180ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0) scaleY(0.935);
        -ms-transform: translateZ(0) scaleY(0.935);
        transform: translateZ(0) scaleY(0.935);
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        -o-transform-origin: 50% 0;
        transform-origin: 50% 0;
        background: rgba(0,0,0,0.85);
        padding: 30px 35px;
        position: fixed;
        display: block;
        width: 325px;
        z-index: 9;
        bottom: 0;
        left: 0;
        top: 0;
        visibility: hidden;
        opacity: 0;
    }

    header .main-nav ul {
        text-align: left;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    header .main-nav ul li {
        text-transform: uppercase;
        letter-spacing: 0.15em;
        font-size: 1.05rem;
        font-weight: 500;
        color: white;
        padding-bottom: 5px;
        margin-bottom: 5px;
    }

    header .main-nav ul li a:focus {
        color: inherit;
    }

    header .main-nav ul li a:hover {
        color: #ff7043;
    }

    header .main-nav ul li.menu-item-has-children {
        position: relative;
    }

    header .main-nav ul li.menu-item-has-children:after {
        content: "\f107";
        font-family: FontAwesome;
        position: absolute;
        line-height: 1em;
        font-size: 12px;
        right: 0;
        top: 8px;
    }

    header .main-nav ul li.menu-item-has-children.active:after {
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
        color: #e86d3e;
    }

    header .main-nav ul li ul {
        display: none;
        padding-top: 7.5px;
    }
    
    header .main-nav ul li ul li {
        font-size: 9px;
        margin-bottom: 2.5px;
        padding-bottom: 2.5px;
        padding-left: 10px !important;
    }
    
    header .main-nav ul li:not(:last-of-type) {
        border-bottom: 1px solid rgba(255,255,255,0.15)
    }
    
    header .main-nav ul li:last-of-type {
        padding: 0;
        margin: 0;
    }

    header .mobile-toggle {
        display: inline-block;
    }
}

@media (max-width: 992px) and (max-width: 768px) {
    header .main-nav {
        width: 250px;
    }
}

@media (max-width: 992px) {
    .page-wrapper {
        -webkit-transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -moz-transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        position: relative;
        background: white;
        left: 0;
    }
    .page-wrapper:before {
        content: "";
        position: fixed;
        background: #1f1f24;
        pointer-events: none;
        width: 325px;
        z-index: -1;
        bottom: 0;
        left: 0;
        top: 0;
    }
}

@media (max-width: 992px) and (max-width: 768px) {
    .page-wrapper:before {
        width: 250px;
    }
}

@media (max-width: 992px) {
    .mobile-nav-visibile {
        overflow-x: hidden;
    }
    .mobile-nav-visibile header .main-nav {
        -webkit-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -moz-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        -webkit-transition-delay: 300ms;
        -moz-transition-delay: 300ms;
        transition-delay: 300ms;
        -webkit-transform: translateZ(0) scaleX(1);
        -ms-transform: translateZ(0) scaleX(1);
        transform: translateZ(0) scaleX(1);
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 1200px) and (min-width: 992px) { 
    header .main-nav ul li > a {
        padding: 20px 16px;
    }
}

@media (max-width: 1200px) {
    header .buy-button {
        display: none;
    }
}
/*-------------Footer--------------*/
footer {
    background: #4527a0;
    padding: 70px 0 40px;
}

footer a:hover {
    color: #9179d9;
}

/*-------------Widgets--------------*/
footer .widget .widget-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 0 27px;
}

footer .widget {
    margin: 0 0 30px;
}

.sidebar .widget .widget-title {
    color: #424242;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 22px;
}

.sidebar .widget {
    margin: 0 0 50px;
}

.widget ul {
    margin: 0;
    padding: 0;
}

.widget ul li {
    font-size: 13px;
    color: #424242;
    font-weight: 600;
    list-style-type: none;
}

footer .widget ul li {
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    padding: 0 0 9px;
}

.widget ul li a:hover {
    color: #7e57c2;
}

.widget.widget-about p {
    color: #9179d9;
    margin: 20px 0 28px;
}

.widget.widget-about .copyright {
    color: #fff;
    font-size: 9px;
    text-transform: uppercase;
}

.widget.widget_categories ul,
.widget.widget_archive ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.widget.widget_categories ul li,
.widget.widget_pages ul li,
.widget.widget_archive ul li {
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    padding: 0 0 9px;
}

.sidebar .widget.widget_categories ul li,
.sidebar .widget.widget_archive ul li {
    font-size: 13px;
    color: #cecece;
    font-weight: 600;
    padding: 11px 0 11px;
    border-bottom: 1px solid #e0e0e0;
}

.sidebar .widget.widget_categories ul li a,
.sidebar .widget.widget_archive ul li a {
    position: relative;
    padding: 0 3px 0 20px;
}

.sidebar .widget.widget_categories ul li a:before,
.sidebar .widget.widget_archive ul li a:before {
    position: absolute;
    content: "\f0da";
    font-family: FontAwesome;
    font-size: 11px;
    color: #cecece;
    left: 0;
    top: 0;
}

.sidebar .widget.widget_categories ul li a:hover:before,
.sidebar .widget.widget_archive ul li a:hover:before {
    color: #da7394;
    transform: translateX(6px);
}

.sidebar .widget.widget_categories ul li:last-child,
.sidebar .widget.widget_archive ul li:last-child {
    border: none;
}

.sidebar .widget.widget_categories ul li:first-child,
.sidebar .widget.widget_archive ul li:first-child {
    padding-top: 5px;
}

.sidebar .widget.widget_categories ul li a,
.sidebar .widget.widget_archive ul li a {
    color: #424242;
}

.sidebar .widget.widget_categories ul li a:hover,
.sidebar .widget.widget_archive ul li a:hover {
    color: #7e57c2;
}

.widget.widget_tag_cloud .tagcloud a {
    color: #806bbe;
    text-transform: uppercase;
    font-size: 13px !important;
    padding: 0 8px;
    font-weight: 600;
    border-radius: 20px;
    background: rgba(255,255,255,0.1);
    border: 2px solid transparent;
    margin: 0 5px 15px 0;
}

.sidebar .widget.widget_tag_cloud .tagcloud a {
    margin: 0 3px 8px;
    color: #b6b6b6;
    border-color: #e0e0e0;
    border-width: 1px;
    background: #f5f5f5;
    border-radius: 3px;
    padding: 1px 8px;
}

.sidebar .widget.widget_tag_cloud .tagcloud a:hover {
    background: #f2eef9;
    color: #7e57c2;
    border-color: transparent;
}

.widget.widget_tag_cloud .tagcloud a:hover {
    color: #fff;
    background: transparent;
    border-color: rgba(255,255,255,0.1);
}

.widget.social-widget ul {
    list-style-type: none;
}

.widget.social-widget ul li {
    margin: 0 0 12px;
}

.widget.social-widget ul li a {
    text-align: center;
    color: #fff;
}

.widget.social-widget ul li a i {
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 50%;
    line-height: 38px;
    margin: 0 15px 0 0;

}

.widget.social-widget ul li a:hover i {
    border-color: transparent;
    background: #fff;
    color: #424242;
}

.widget.widget_latest_posts ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.widget.widget_latest_posts ul li {
    position: relative;
    min-height: 130px;
    padding: 0px 0 25px 192px;
}

.widget.widget_latest_posts ul li.no-padding {
    min-height: 60px;
}

.widget.widget_latest_posts ul li .image {
    position: absolute;
    top: 0;
    left: 0;
}

.widget.widget_latest_posts ul li .image img {
    border-radius: 5px;
    height: 108px;
    object-fit: cover;
}

.widget.widget_latest_posts ul li .image:before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: linear-gradient(45deg, #ff7043, #ba68c8);
}

.widget.widget_latest_posts ul li .image:hover:before {
    opacity: 0.7;
}

.widget.widget_latest_posts ul li .title {
    color: #424242;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0;
}

.widget.widget_latest_posts ul li .title:hover {
    color: #7e57c2;
}

.widget.widget_latest_posts ul li .date {
    color: #b3b3b3;
    font-weight: 600;
}

.widget.tesla-instagram-widget ul {
    padding: 0;
    margin: 0 -2px;
}

.widget.tesla-instagram-widget ul:before,
.widget.tesla-instagram-widget ul:after {
    content: " ";
    display: table;
}

.widget.tesla-instagram-widget ul:after {
    clear: both;
}

.widget.tesla-instagram-widget ul li {
    display: inline-block;
    padding: 0 2px 4px;
    width: 33.333333%;
    float: left;
    margin: 0;
}

.widget.tesla-instagram-widget ul li a {
    position: relative;
}

.widget.tesla-instagram-widget ul li a:before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(45deg, #ff7043, #ba68c8);
}

.widget.tesla-instagram-widget ul li a:hover:before {
    opacity: 0.7;
}

.widget.tesla-instagram-widget ul li a,
.widget.tesla-instagram-widget ul li img {
    width: 100%;
}
/*------------------Buttons--------------------*/
.btn {
    position: relative;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    border: 2px solid transparent;
    background: transparent;
    border-radius: 30px;
    padding: 14px 50px;
    min-width: 165px;
}

.vc_btn3-container.small .btn,
.btn.small {
    padding: 7px 25px;
    min-width: auto;
}

.btn.orange {
    color: #ff7043;
    border-color: #ff7043;
}

.btn.orange:hover {
    color: #fff;
    background: #ff7043;
}

.facebook-button {
    position: relative;
    color: #212121;
    font-weight: bold;
    font-size: 13px;
    border: 3px solid #2473f7;
    border-left: 35px solid #2473f7;
    border-radius: 3px;
    padding: 0 8px;
    margin: 0 6px 8px 0;
}

.btn.white {
    color: #fff;
    border-color: rgba(255,255,255,0.2);
}

.btn.white:hover {
    color: #9e9e9e;
    background: #fff;
    border-color: transparent;
}

.btn.purple {
    border-color: #7e57c2;
    color: #7e57c2;
}

.btn.purple:hover {
    background: #7e57c2;
    color: #fff;
    border-color: transparent;
}

.facebook-button:hover {
    border-color: #518ff8;
}

.facebook-button:before {
    content: "\f09a";
    position: absolute;
    color: #fff;
    font-family: FontAwesome;
    left: -21px;
}

.twitter-button {
    position: relative;
    color: #212121;
    font-weight: bold;
    font-size: 13px;
    border: 3px solid #99d5ff;
    border-left: 35px solid #99d5ff;
    border-radius: 3px;
    padding: 0 8px;
    margin: 0 6px 8px 0;
}

.twitter-button:hover {
    border-color: #82cafc;
}

.twitter-button:before {
    content: "\f099";
    position: absolute;
    color: #fff;
    font-family: FontAwesome;
    left: -21px;
}

.youtube-button {
    position: relative;
    color: #212121;
    font-weight: bold;
    font-size: 13px;
    border: 3px solid #eeeeee;
    border-left: 35px solid #eeeeee;
    border-radius: 3px;
    padding: 0 8px;
    margin: 0 6px 8px 0;
}

.youtube-button:hover {
    border-color: #dcdcdc;
}

.youtube-button:before {
    content: "\f16a";
    position: absolute;
    color: #d2252a;
    font-family: FontAwesome;
    left: -23px;
}

/*------------------Forms--------------------*/
.comment-form,
.respond-form {
    padding: 20px;
}

.search-form {
    position: relative;
}

.search-form .form-submit {
    position: absolute;
    top: 8px;
    right: 9px;
    font-size: 15px;
    background: #f6f6f6;
    color: #b3b3b3;
    border: none;
    border-radius: 5px;
    padding: 5px 11px 5px 12px;
}

.search-form .form-submit:hover {
    background: #f1f1f1;
}

.respond-form .title,
.comment-form .title,
.subscribe-form .form-title {
    text-align: center;
    color: #424242;
    font-size: 27px;
    line-height: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.respond-form .title,
.comment-form .title {
    margin: 0 0 50px;
}

.search-form .form-input,
.respond-form .form-input,
.comment-form .form-input,
.subscribe-form .form-input {
    color: #757575;
    font-size: 18px;
    border: 2px solid #e0e0e0;
    border-radius: 3px;
    padding: 12px 16px;
    margin: 0 0 25px;
    width: 100%;
}

.respond-form textarea.form-input,
.comment-form textarea.form-input {
    min-height: 120px;
}

.search-form .form-input {
    margin: 0;
}

.search-form .form-input:focus,
.respond-form .form-input:focus,
.comment-form .form-input:focus,
.subscribe-form .form-input:focus {
    border-color: #7e57c2;
}

.subscribe-form .form-submit {
    position: relative;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    padding: 12px 13px 12px 40px;
    margin: 0 0 25px;
    width: 100%;
    background: linear-gradient(88deg, #4527a0, #7e57c2);
}

.respond-form .form-submit,
.comment-form .form-submit {
    display: table;
    margin: 20px auto;
}

.subscribe-form .form-submit:hover {
    opacity: 0.8
}

.subscribe-form .form-submit:before{
    content: "\f003";
    font-family: FontAwesome;
    position: absolute;
    top: 12px;
    margin: 0 0 0 -25px;
}

.respond-form #results {
    margin: 0 0 10px;
}

.respond-form #results ul {
    margin: 0;
}

.subscribe-form {
    position: relative;
}

.subscribe-form .result_container {
    display: inline-block;
    position: absolute;
    right: 25px;
    bottom: -6px;
    color: #ff7043;
    font-weight: 600;
}

/*------------------Isotope--------------------*/
.isotope-container {
    overflow: hidden;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: height, width;
    transition-property: height, width;
    margin-bottom: 22px;
}

.isotope-filters {
    text-align: center;
    padding: 50px 0 35px;
}

.isotope-filters ul {
    list-style-type: none;
}

.isotope-filters ul li {
    display: inline-block;
    padding: 0 7px 15px 7px
}

.isotope-filters ul li a {
    position: relative;
    color: #757575;
    font-size: 17px;
    line-height: 27px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 3px 9px;
    border-radius: 4px;
}

.isotope-filters ul li a:before {
    pointer-events: none;
    position: absolute;
    top: -50px;
    left: -5%;
    content: "";
    width: 110%;
    height: 3px;
    background: #4527a0;
    opacity: 0;
    transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.isotope-filters ul li a:after {
    pointer-events: none;
    top: -47px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #4527a0;
    border-width: 6px;
    margin-left: -6px;
    opacity: 0;
    transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.isotope-filters ul li a.current:before {
    opacity: 1;
}

.isotope-filters ul li a.current:after {
    opacity: 1;
}

.isotope-filters ul li a.current {
    color: #4527a0;
    background: #ece9f5;
}

.isotope-filters ul li a:hover {
    color: #4527a0;
}

/*------------------PopUp--------------------*/
.popup-wrapper {
    -webkit-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    visibility: hidden;
    opacity: 0;
    background-color: rgba(76, 74, 88, 0.8);
    position: fixed;
    z-index: 99;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}

.popup-wrapper .popup-inner-content {
    overflow: auto;
    display: block;
    padding: 45px;
    height: 100%;
}

.popup-visible {
    overflow: hidden;
}

.popup-visible .popup-wrapper {
    -webkit-transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    visibility: visible;
    opacity: 1;
}

.media-wrapper {
    -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    transition-delay: 300ms;
    position: relative;
    max-width: 1310px;
    background: #fff;
    display: block;
    margin: 0 auto;
    padding: 20px;
    opacity: 0;
}

@media (min-width: 992px) {
    .media-wrapper {
        -webkit-transform: translateY(-75%);
        -ms-transform: translateY(-75%);
        transform: translateY(-75%);
        top: 50%;
    }
}

.media-wrapper {
    padding: 0;
}

.close-video-popup-toggle {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    height: 32px;
    right: 25px;
    width: 32px;
    z-index: 3;
    top: 25px;
}

.close-video-popup-toggle:before, .close-video-popup-toggle:after {
    -webkit-transition: all 245ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 245ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 245ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    display: inline-block;
    background: #f4f4f4;
    position: absolute;
    height: 32px;
    content: "";
    width: 1px;
    left: 50%;
    top: 0;
}
.close-video-popup-toggle:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-video-popup-toggle:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close-video-popup-toggle:hover:before, .close-video-popup-toggle:hover:after {
    background: #fff;
}

.video-popup-visible {
    overflow: hidden;
}
.video-popup-visible .video-popup {
    -webkit-transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    cursor: url(../img/close-popup.png), default;
    visibility: visible;
    opacity: 1;
}

.video-popup-visible .video-popup .media-wrapper {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    transition-delay: 150ms;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 1;
    top: 50%;
}

/*------------------Pagination--------------------*/
.pagination {
    display: block;
    text-align: center;
    padding: 20px 0 50px;
}

.pagination ul.page-numbers {
    list-style-type: none;
    padding: 0;
}

.pagination ul.page-numbers li {
    display: inline-block;
    font-size: 18px;
    color: #757575;
    line-height: 27px;
    font-weight: 600;
    margin: 0 -4px 0 0;
}

.pagination ul.page-numbers li a:hover {
    color: #4527a0;
}

.pagination ul.page-numbers li .page-numbers {
    padding: 11px 18px;
}

.pagination ul.page-numbers li a.page-numbers {
    padding: 10px 18px 9px;
}

.pagination ul.page-numbers li .page-numbers.current {
    background: #f3f3f3;
} 

/*------------------Blog Section--------------------*/
.blog-feed-wrapper .isotope-container {
    margin: 0;
}

.blog-post-item {
    position: relative;
    display: table;
    margin: 0 0 80px;
}

.blog-post-item .cover,
.blog-post-item .content {
    position: relative;
    float: none;
    display: table-cell;
    vertical-align: top;
}

.blog-post-item .cover {
    width: 29%; 
}

.blog-post-item .cover img {
    min-height: 162px;
    width: 100%;
    object-fit: cover;
}

.blog-post-item .cover a {
    width: 100%;
}

.blog-post-item .cover:before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(45deg, #ff7043, #ba68c8);
}

.blog-post-item .cover:after {
    pointer-events: none;
    position: absolute;
    content: "\f002";
    color: #fff;
    font-family: FontAwesome;
    font-size: 22px;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    -webkit-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 350ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.blog-post-item .cover:hover:before {
    opacity: 0.95;
}

.blog-post-item .cover:hover:after {
    opacity: 0.7;
    transform: translate(-50%, -50%);
}

.blog-post-item .content {
    width: 71%;
}

.blog-post-item .post-date {
    display: block;
    width: 100%;
    padding: 11px 2px;
    color: #949494;
    font-weight: 600;
    text-transform: uppercase;
    background: #f5f5f5;
    text-align: center;
}

.blog-post-item .title {
    color: #424242;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 27px;
    font-weight: 600;
    padding-left: 30px;
}

.blog-post-item .title a:hover {
    color: #ff7043;
}

.blog-post-item .description {
    color: #757575;
    font-size: 13px;
    padding-left: 30px;
}

.blog-post-item .post-meta {
    position: absolute;
    padding: 10px 0 10px 30px;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e0e0e0;
}

.blog-post-item .post-meta .comments {
    position: relative;
    color: #757575;
    font-size: 9px;
    padding: 6px 0 4px 24px;
}

.blog-post-item .post-meta .comments:before {
    content: "\e90c";
    position: absolute;
    font-family: Icomoon;
    top: 0;
    left: 1px;
    font-size: 15px;
    color: #000;
}

.blog-post-item .post-meta .likes {
    position: relative;
    color: #757575;
    font-size: 9px;
    padding: 6px 0 4px 40px;
    border-left: 1px solid #f0f0f0;
    margin: 0 0 0 12px;
}

.blog-post-item .post-meta .likes:before {
    content: "\e90d";
    position: absolute;
    font-family: Icomoon;
    top: 0;
    left: 17px;
    font-size: 15px;
    color: #000;
}

.blog-post-item .post-meta .likes.liked,
.blog-post-item .post-meta .likes.liked:before {
    color: #ff7043;
    font-weight: 600;
}

.blog-post-item .post-meta .likes:hover {
    cursor: pointer;
    color: #ff7043;
}

.blog-post-item .post-meta .likes:hover:before {
    color: #ff7043;
}

.blog-post-item .post-meta .read-more {
    float: right;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #424242;
}

.blog-post-item .post-meta .read-more:hover {
    color: #ff7043;
}

.articles-section {
    padding: 50px 0 50px;
}

.articles-section .pagination {
    text-align: left;
    padding: 40px 0 5px 70px;
}

.articles-section .articles-list.full {
    padding: 0 !important;
}

@media (max-width: 992px) { 
    .articles-section .pagination {
        text-align: center;
        padding: 40px 0 5px;
    }
}

@media (min-width: 1200px) {
    .articles-section .articles-list {
        padding: 0 52px 0 0;
    }

    .articles-section .articles-list.left {
        padding: 0 0 0 52px;
    }
}

@media (max-width: 1200px) {
    .articles-section .articles-list {
        padding: 0 30px 0 0;
    }

    .articles-section .articles-list.left {
        padding: 0 0 0 30px;
    }
}

@media (max-width: 992px) {
    .articles-section .articles-list,
    .articles-section .articles-list.left {
        padding: 0 0 0 0;
    }
}

.article {
    margin: 0 0 20px;
}

.article.sticky .post-title {
    position: relative;
}

.article.sticky .post-title:before {
    position: absolute;
    content: "\f0c6";
    font-family: FontAwesome;
    font-size: 35px;
    color: rgba(126, 87, 194,0.2);
    font-weight: 400;
    left: -35px;
}

.article .cover {
    position: relative;
    padding: 0 0 27px;
}

.article .cover:hover {
    opacity: 0.8;
}

.article .cover .post-date {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #f5f5f5;
    text-transform: uppercase;
    font-weight: 600;
    padding: 27px 21px;
}

.article .post-title {
    color: #424242;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    font-weight: 600;
}

.article.single .post-title {
    font-size: 40px;
    line-height: 54px;
    text-transform: none;
    font-weight: 400;
    margin: 0 0 4px;
}

.article.single .categories {
    font-size: 12px;
    color: #424242;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 0 10px 0px;
}

.article.single .tags {
    position: relative;
    color: #b0b0b0;
    font-size: 13px;
    line-height: 27px;
    padding: 0 0 0 22px;
}

.article.single .tags span {
    color: #7e57c2;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 15px 0 0;
}

.article.single .tags:before {
    position: absolute;
    content: "\f0c6";
    font-family: FontAwesome;
    font-size: 17px;
    color: #7e57c2;
    left: 0;
} 

.article.single .tags a:hover,
.article.single .categories a:hover,
.article .post-title a:hover {
    color: #7e57c2;
}

.article .post-description {
    margin: 0 0 30px;
}

.article .post-meta {
    border-top: 1px solid #e0e0e0;
    padding: 10px 0;
}

.article .post-meta .comments {
    position: relative;
    color: #757575;
    font-size: 9px;
    padding: 6px 0 4px 24px;
}

.article .post-meta .comments:before {
    content: "\e90c";
    position: absolute;
    font-family: Icomoon;
    top: 0;
    left: 1px;
    font-size: 15px;
    color: #000;
}

.article .post-meta .likes {
    position: relative;
    color: #757575;
    font-size: 9px;
    padding: 6px 0 4px 40px;
    border-left: 1px solid #f0f0f0;
    margin: 0 0 0 12px;
}

.article .post-meta .likes.liked,
.article .post-meta .likes.liked:before {
    color: #ff7043;
    font-weight: 600;
}

.article .post-meta .likes:hover {
    cursor: pointer;
    color: #ff7043;
}

.article .post-meta .likes:hover:before {
    color: #ff7043;
}

.article .post-meta .likes:before {
    content: "\e90d";
    position: absolute;
    font-family: Icomoon;
    top: 0;
    left: 17px;
    font-size: 15px;
    color: #000;
}

.article .post-meta .read-more {
    float: right;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: #424242;
}

.article .post-meta .read-more:hover {
    color: #7e57c2;
}

.article .post-footer ul.socials {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}

.article .post-footer ul.socials li {
    display: inline-block;
    padding: 0 0 0 5px;
}

.article .post-footer ul.socials li:first-child {
    padding: 0;
}

.article .post-footer ul.socials li a {
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.article .post-footer .likes {
    position: relative;
    color: #757575;
    font-size: 9px;
    padding: 6px 0 4px 40px;
    margin: 0 0 0 12px;
    float: right;
}

.article .post-footer .likes:hover {
    cursor: pointer;
}

.article .post-footer .likes:before {
    content: "\e90d";
    position: absolute;
    font-family: Icomoon;
    top: 7px;
    left: 17px;
    font-size: 15px;
    color: #000;
}

.article .post-footer .likes.liked,
.article .post-footer .likes.liked:before {
    color: #ff7043;
    font-weight: 600;
}

.article .post-footer {
    padding: 22px 0 35px;
    border-bottom: 1px solid #e0e0e0;
}

.article .post-footer ul.socials li a.facebook {
    background: #2473f7;
}

.article .post-footer ul.socials li a.twitter {
    background: #99d5ff;
}

.article .post-footer ul.socials li a.google-plus {
    background: #dd4b39;
}

.article .post-footer ul.socials li a.pinterest {
    background: #cb2027;
}

.article .post-footer ul.socials li a.linkedin {
    background: #007bb5;
}

.article .post-footer ul.socials li a:hover {
    opacity: 0.7
}

.article .comment-respond {
    padding: 85px 0 38px;
    border-bottom: 1px solid #e0e0e0;
}

.article .comments-area {
    padding: 70px 0 20px;
}

.article .comment-respond .comment-form {
    padding: 0;
}

.article .comments-area .area-title,
.article .comment-respond .comment-reply-title {
    color: #424242;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0 0 25px;
}

.article .comments-list .comment {
    padding: 0 0 28px;
    margin: 0 0 39px;
    border-bottom: 1px solid #e9e9e9;
}

.article .comments-list .comment:last-child {
    border: none;
    margin: 0;
    padding: 0;
}

.article .comments-list .comment .user-title {
    display: inline-block;
    color: #424242;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    font-weight: 600;
}

.article .comments-list .comment ul {
    padding: 40px 0 0 30px;
}

.article .comments-list .comment .comment-body {
    position: relative;
    padding: 0 0 0 85px;
}

.article .comments-list .comment .comment-body .avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 54px;
}

.article .comments-list .comment .comment-date {
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 600;
    vertical-align: top;
    padding: 0 0 0 12px;
}

.article .comments-list .comment .comment-reply-link {
    float: right;
    font-size: 13px;
    color: #424242;
    text-transform: uppercase;
    font-weight: 600;
    vertical-align: top;
}

.article .comments-list .comment .comment-reply-link:hover {
    color: #ceb5fa;
}
/*------------------Single-Project--------------------*/
.single-project .project-title {
    color: #424242;
    font-size: 40px;
    line-height: 54px;
    text-align: center;
    margin: 0;
    padding: 37px 0 46px;
}

.single-project .project-cover {
    display: table;
    margin: 0  auto;
}

.single-project .project-meta {
    text-align: center;
    background: #f4f4f4;
    padding: 47px 0 40px;
}

.single-project .project-meta ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.single-project .project-meta .meta {
    padding: 0 0 18px;
}

.single-project .project-meta .meta li {
    color: #757575;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 54px;
    border-bottom: 1px solid #e0e0e0;
}

.single-project .project-meta .meta li:last-child {
    border: none;
}

.single-project .project-meta .meta li span {
    color: #7e57c2;
}

.single-project .project-meta h4 {
    color: #424242;
    font-weight: 600;
    font-size: 27px;
    line-height: 40px;
    text-transform: uppercase;
    margin: 0 0 5px;
}

.single-project .project-meta ul.socials {
    margin: 19px 0 12px;
}

.single-project .project-meta ul.socials li {
    display: inline-block;
    padding: 0 0 0 5px;
}

.single-project .project-meta ul.socials li a {
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.single-project .project-meta ul.socials li a.facebook {
    background: #2473f7;
}

.single-project .project-meta ul.socials li a.twitter {
    background: #99d5ff;
}

.single-project .project-meta ul.socials li a.behance {
    background: #003c9e;
}

.single-project .project-meta ul.socials li a:hover {
    opacity: 0.7
}

.single-project .description {
    padding: 55px 0 60px;
}

.single-project .tags {
    position: relative;
    color: #b0b0b0;
    font-size: 13px;
    line-height: 27px;
    padding: 0 0 0 22px;
}

.single-project .tags span {
    color: #7e57c2;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 15px 0 0;
}

.single-project .tags:before {
    position: absolute;
    content: "\f0c6";
    font-family: FontAwesome;
    font-size: 17px;
    color: #7e57c2;
    left: 0;
} 

.single-project .project-details {
    padding: 0 0 75px;
}

.single-project.article .comment-respond {
    padding: 0 0 30px;
    border: none;
}

.single-project .related-posts h3.title {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 27px;
    margin: 0 0 2px;
    font-weight: 600;
}

.single-project .related-posts .isotope-container {
    margin: 50px 0 50px;
}

/*------------------Section--------------------*/
.section-title {
    max-width: 740px;
    margin: 58px auto;
}

.section-title h2 {
    color: #424242;
    font-size: 40px;
    text-align: center;
    margin: 0 0 18px;
}

.section-title p {
    color: #757575;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}

.section-title.white h2,
.section-title.white p {
    color: #fff;
}

/*------------------Hero-Section--------------------*/
.hero-section {
    background: url(../images/hero-background.jpg);
    background-size: cover !important;
    padding: 155px 0 0;
}

.hero-section.v2 {
    padding: 260px 0 280px;
    background: url(../images/hero-background-2.jpg);
}

.hero-section.page-title {
    padding: 102px 0 53px;
}

.hero-section .hero-title {
    color: #fff;
    font-size: 54px;
    text-align: center;
}

.hero-section.page-title .hero-title {
    margin: 0 0 12px;
}

.archive .hero-section.page-title .hero-title {
    font-size: 46px;
}

.hero-section .hero-subtitle {
    font-size: 27px;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

.hero-section .hero-image {
    margin-top: 50px;
    margin-bottom: -75px;
}

.tt-breadcrumbs {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.tt-breadcrumbs li {
    position: relative;
    display: inline-block;
    color: #fff;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 0 14px;
}

.tt-breadcrumbs li:before {
    position: absolute;
    content: "/";
    top: 0;
    left: -11px;
}

.tt-breadcrumbs li:first-child:before {
    content: none;
}

.tt-breadcrumbs li:first-child {
    margin: 0;
}
/*------------------Services-Section--------------------*/
.services-section {
    background: url(../images/services-section.jpg);
    background-size: cover;
    padding: 30px 0 0;
    overflow: hidden;
}

.services-section.v2 {
    padding: 100px 0 0;
    background: none;
}

.services-section.v2 .phone-centered {
    padding: 60px 0 0;
}

.services-section .container {
    padding: 0;
}

.services-section.v2 .container {
    padding: 0 15px;
}

.services-section .section-title {
    margin-bottom: 0;
}

.services-section .section-title p {
    color: #c3badc;
}

.services-section .services-image {
    float: right;
    margin: 0 -20px -192px 0;
}

.service-item {
    position: relative;
    min-height: 150px;
    padding: 25px 25px 30px 25px;
    margin: 0 0 5px;
}

.service-item:hover {
    background: rgba(0,0,0,0.1);
}

.service-item:hover .service-icon {
    top: 18px;
}

.service-item .service-icon {
    position: absolute;
    font-size: 128px;
    color: #DB6C88;
    top: 22px;
    left: 25px;
}

.service-item .title {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    padding-left: 165px;
}

.service-item .description {
    color: #c3badc;
    font-size: 13px;
    line-height: 27px;
    padding-left: 165px;
}

.service-item.v2 {
    background: none;
    padding: 0;
    min-height: 108px;
    margin: 0 0 65px;
}

.service-item.v2.right {
    text-align: right;
}

.service-item.v2 .service-icon {
    position: absolute;
    font-size: 30px;
    color: #fff;
    padding: 39px;
    border-radius: 50%;
    background: linear-gradient(45deg, #ff7043, #ba68c8);
    left: 0;
}

.service-item.v2.small .service-icon {
    font-size: 30px;
    padding: 22px;
}

.service-item.v2.right .service-icon {
    right: 0;
    left: auto;
}

.service-item.v2:hover .service-icon {
    transform: translateY(-5%);
    -webkit-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
}
.service-item.v2 .title {
    font-size: 18px;
    color: #7e57c2;
    padding: 0 0 0 135px;
}

.service-item.v2.small .title {
    padding: 0 0 0 95px;
}

.service-item.v2.right .title {
    padding: 0 95px 0 0;
}

.service-item.v2 .description {
    position: relative;
    color: #757575;
    padding: 0 0 0 160px;
}

.service-item.v2.small .description {
    padding: 0 0 0 118px;
}

.service-item.v2.right .description {
    padding: 0 118px 0 0;
}

.service-item.v2 .description:before,
.service-item.v2.right .description:after {
    content: "";
    position: absolute;
    top: 10px;
    margin: 0 0 0 -22px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #e72e64;
}

.service-item.v2.right .description:after {
    margin: 0 0 0 18px;
}

.service-item.v2.right .description:before {
    content: none;
} 

/*------------------Video-Section--------------------*/
.video-section {
    padding: 0 0 70px;
}

.video-section.v2 {
    background: url(../images/video-section.jpg);
    background-size: cover;
    padding: 220px 0;
    overflow: hidden;
}

.video-section .embed-video {
    margin: 0 0 30px;
}

.video-toggle {
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: rgba(0,0,0,0.5);
}

.video-toggle:before {
    position: absolute;
    content: "\f04b";
    width: 23px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: FontAwesome;
    font-size: 36px;
    color: #fff;
}

.video-toggle:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    cursor: pointer;
}

/*------------------Choose-Section--------------------*/
.choose-section {
    background: #f4f4f4;
}

.choose-section .services-title {
    color: #424242;
    font-weight: 600;
    font-size: 27px;
    text-transform: uppercase;
    margin: 0 0 35px;
}

.choose-section .choose-image {
    width: 100%;
    object-fit: cover;
}

/*------------------Features-Section--------------------*/
.features-section {
    padding: 0 0 0 0;
}

.features-section.v2 {
    padding: 75px 0 0 0;
}

.feature-item {
    display: table;
    text-align: center;
    margin: 0 auto 90px;
}

.feature-item .service-icon {
    color: #424242;
    font-size: 55px;
}

.features-section.v2 .feature-item .service-icon {
    color: #573ba9;
}

.feature-item .title {
    color: #424242;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 27px;
    margin: 20px 0 10px;
}

.feature-item .description {
    color: #757575;
    font-size: 17px;
    line-height: 27px;
}

.features-section .purchase-project {
    margin-bottom: 30px;
}

.features-section .purchase-project h2 {
    font-weight: 600;
    font-size: 27px;
    line-height: 40px;
    text-transform: uppercase;
}

.features-section .purchase-project h3 {
    color: #7e57c2;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    margin: 36px 0 40px;
}

.features-section .purchase-project p {
    margin: 0 0 70px;
}

.features-section .purchase-project .ov-image {
    margin-left: 90px;
}


/*------------------Stats-Section--------------------*/
.stats-section {
    background: url(../images/stats-section.jpg);
    background-size: cover !important;
    padding: 70px 0 42px;
    overflow: hidden;
}

.stats-section.v2 {
    background: url(../images/stats-section-v2.jpg);
}

.stats-item {
    margin: 0 0 30px;
}

.stats-item .service-icon {
    position: absolute;
    top: 8px;
    left: 15px;
    color: #fff;
    font-size: 57px;
}

.stats-item span {
    display: block;
}

.stats-item .number {
    color: #fff;
    font-size: 40px;
    line-height: 50px;
    padding: 0px 0 0 70px;
}

.stats-item .caption {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0px 0 0 70px;
}

.progress-item {
    position: relative;
    width: 100%;
    height: 13px;
    background: #f4f4f4;
    margin: 37px 0 70px;
    border-radius: 5px;
}

.progress-item .caption {
    position: absolute;
    top: -34px;
    color: #424242;
    font-size: 13px;
    font-weight: 600;
    background: #fff;
    z-index: 1;
    padding: 0 5px 0 0;
    text-transform: uppercase;
}

.progress-item .progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 13px;
    background: #4527a0;
    border-radius: 5px;
    min-width: 25px
}

.progress-item .progress-bar .heading {
    position: absolute;
    top: -34px;
    right: 0;
    color: #424242;
    font-size: 13px;
    font-weight: 600;
}

/*------------------Newsletter-Section--------------------*/
.newsletter-section {
    background: #f4f4f4;
    padding: 48px 0 28px;
}

/*------------------Works-Section--------------------*/
.works-section {
    padding: 0 0 80px;
}

.project-item {
    position: relative;
    margin: 0 0 30px;
}

.project-item a,
.project-item img {
    width: 100%
}

.project-item:before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(45deg, #ff7043, #ba68c8);
}

.project-item:hover:before  {
    opacity: 0.95;
}

.project-item:hover .cover-title {
    opacity: 1;
}

.project-item:hover .cover-title {
    top: 45%;
}

.project-item .cover-title {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    opacity: 0;
    text-align: center;
    -webkit-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 500ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

/*------------------Team-Section--------------------*/
.team-section {
    background: #f5f5f5;
    padding: 0 0 30px;
}

.team-section.v2 {
    padding: 55px 0 30px;
}

.team-section.v3 {
    background: transparent;
    padding: 70px 0 10px 0;
}

.team-section.v3 .page-title {
    font-size: 40px;
    line-height: 54px;
}

.team-section.v3 .page-desc {
    font-size: 18px;
    line-height: 40px;
    margin: 0 0 80px;
}

.team-member {
    text-align: center;
    margin: 0 0 46px;
}

.slick-slider .team-member {
    margin: 0;
}

.team-member .cover {
    position: relative;
}

.team-member .cover img {
    width: 100%;
}

.team-member .cover:before {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(45deg, #ff7043, #ba68c8);
}

.team-member .cover:hover:before {
    opacity: 0.95;
}

.team-member .cover:hover .social-links {
    opacity: 1;
}

.team-member .social-links {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    list-style-type: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    -webkit-transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 450ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.team-member .social-links li {
    margin: 0 0 5px;
}

.team-member .social-links li a {
    color: #fff;
    font-size: 14px;
    padding: 5px 0 0 1px;
    border: 2px solid rgba(255,255,255,0.6);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
}

.team-member .social-links li a:hover {
    border-color: #fff;
    background: #fff;
    color: #424242;
}

.team-member .name {
    color: #424242;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin: 22px 0 0 0;
}

.team-member .position {
    color: #424242;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

/*------------------Testimonials-Section--------------------*/
.testimonials-section {
    padding: 0 0 85px;
}

.slick-slider .testimonial img {
    display: inline-block;
}

.testimonial {
    text-align: center;
}

.testimonial .avatar {
    margin: 0 auto;
    border-radius: 50%;
}

.testimonial .message {
    position: relative;
    font-style: italic;
    font-size: 13px;
    background: #f5f5f5;
    border-radius: 20px;
    padding: 16px 40px 25px 40px;
    margin: 0 0 36px;
    border: 1px solid #e0e0e0;
}

.testimonial .message:after, .testimonial .message:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.testimonial .message:after {
    border-color: rgba(245, 245, 245, 0);
    border-top-color: #f5f5f5;
    border-width: 20px;
    margin-left: -20px;
}
.testimonial .message:before {
    border-color: rgba(224, 224, 224, 0);
    border-top-color: #e0e0e0;
    border-width: 21px;
    margin-left: -21px;
}

.testimonial .message .icon {
    font-size: 17px;
    color: #525252;
}

.testimonial .message p {
    padding: 10px 0 0;
    margin: 0;
}

.testimonial .name {
    margin: 14px 0 0;
}

.testimonial .position,
.testimonial .name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: #424242;
}

.testimonial .position {
    font-size: 13px;
}

/*------------------Pricing-Section--------------------*/
.pricing-page {
    background: url(../images/pricing-page-bg.jpg);
    background-size: cover;
}

.pricing-section {
    background: url(../images/pricing-section.jpg);
    background-size: cover;
    padding: 0 0 77px;
}

.pricing-section.v2 {
    background: url(../images/pricing-section-2.jpg);
}

.pricing-table {
    position: relative;
    text-align: center;
    padding: 30px 20px 110px; 
    background: rgba(255,255,255,0.1);
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.18);
    height: calc(100% - 30px);
    margin: 0 0 30px;
}

.pricing-table.vip {
    background: linear-gradient(45deg, #ff7043, #ba68c8);
}

.pricing-table .i-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 19px;
    color: #fff;
    background: #937bdc;
    border-radius: 50%;
    padding: 12px;
}

.pricing-table .title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.pricing-table .pricing {
    display: block;
    background: rgba(255,255,255,0.2);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    line-height: 108px;
    margin: 30px auto 15px;
}

.pricing-table .description {
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
}

.pricing-table .features {
    list-style-type: none;
    padding: 0;
    margin: 25px 0 40px;
}

.pricing-table .features li {
    color: #fff;
    font-size: 13px;
}

.pricing-table .buy-btn {
    position: absolute;
    bottom: 54px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    padding: 14px 26px;
    z-index: 20;
}

.pricing-table .buy-btn:before {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    background: linear-gradient(45deg, #ff7043, #ba68c8);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 30px;
    opacity: 0;
    z-index: -20;
}

.pricing-table .buy-btn:hover {
    border-color: transparent;
    color: #fff;
}

.pricing-table .buy-btn:hover:before {
    opacity: 1;
    
}

/* ---------------- Error-404 ------------------ */
.error-404 {
    background: url(../images/404-background.jpg);
    background-size: cover;
    padding: 280px 0 300px;
}

.error-404 .return-btn {
    position: relative;
    color: #fff;
    font-size: 27px;
    font-weight: 300;
    padding: 52px 0 0 0;
}

.error-404 .return-btn:before {
    position: absolute;
    top: 0;
    font-size: 55px;
    color: rgba(255,255,255,0.5);
    content: "\e915";
    font-family: Icomoon;
}

.error-404 .return-btn:hover:before {
    transform: translateX(-3px);
    -webkit-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
}

.error-404 .title {
    color: #fff;
    font-size: 54px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin: 0 0 7px;
}

.error-404 .subtitle {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin: 0 0 7px;
}

.error-404 .icon {
    display: table;
    font-size: 120px;
    color: rgba(255,255,255,0.3);
    margin: 30px auto 0;

}
/* ---------------- Contact-Carousel ------------------ */
.contact-section .respond-form {
    padding: 75px 20% 60px;
}

.map-wrapper {
    position: relative;
}

@media(max-width: 768px) {
    .map-wrapper .map-canvas {
        height: 80vh !important;
    }
}

.map-wrapper .infobox {
    position: absolute;
    top: 150px;
    left: 110px;
    background: #fff;
    padding: 28px 40px 10px 40px;
}

.map-wrapper .infobox ul {
    list-style-type: none;
    padding: 0;
}

.map-wrapper .infobox ul.meta li {
    font-weight: 600;
    color: #a2a2a2;
    font-size: 13px;
    padding: 12px 0;
    border-bottom: 1px solid #e0e0e0;
}

.map-wrapper .infobox ul.meta li span {
    color: #424242;
    font-size: 18px;
    text-transform: uppercase;
    vertical-align: bottom;
    padding: 0 17px 0 0;
}

.map-wrapper .infobox ul.socials {
    margin: 19px 0 12px;
}

.map-wrapper .infobox ul.socials li {
    display: inline-block;
    padding: 0 0 0 5px;
}

.map-wrapper .infobox ul.socials li a {
    border-radius: 50%;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.map-wrapper .infobox ul.socials li a {
    background: #4527a0;
}

.map-wrapper .infobox ul.socials li a.facebook {
    background: #2473f7;
}

.map-wrapper .infobox ul.socials li a.twitter {
    background: #99d5ff;
}

.map-wrapper .infobox ul.socials li a.behance {
    background: #003c9e;
}

.map-wrapper .infobox ul.socials li a.google-plus {
    background: #dd4b39;
}

.map-wrapper .infobox ul.socials li a:hover {
    opacity: 0.7
}

/*------------------About-Section--------------------*/
.about-section {
    background: url(../images/about-section.jpg);
    background-size: cover;
    padding: 65px 0 75px;
}

.about-section .title {
    color: #fff;
    font-size: 39px;
    line-height: 54px;
}

.about-section .description {
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    margin: 0 0 30px;
}

/*------------------Skills-Section--------------------*/
.skills-section .skills-background {
    width: 100%;
}

.row-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 41.7%;
    overflow: hidden;
    margin: 0 !important;
}

.row-background img {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100% !important;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.skills-section .title {
    color: #424242;
    font-weight: 600;
    font-size: 27px;
    line-height: 40px;
    text-transform: uppercase;
    padding: 73px 0 52px 0;
    margin: 0;
}

.skills-section .subtitle {
    color: #7e57c2;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    padding: 0px 0 28px;
    margin: 0;
}

/*------------------Gallery-Section--------------------*/
.gallery-section .gallery-description {
    background: #4527a0;
    padding: 65px 60px;
    height: 100%;
    margin: 80px 0 0 0;
}

.gallery-section .gallery-description h2 {
    color: #fff;
    font-size: 40px;
    line-height: 54px;
    margin: 0 0 40px;
}

.gallery-section .gallery-description p {
    color: #fff;
    font-size: 18px;
    line-height: 40px;
}


/*------------------Responsive--------------------*/
@media (max-width: 1366px) {
    .services-section .services-image {
        margin: 0 0 -192px;
    }

    .features-section .purchase-project .ov-image {
        margin-left: 0;
    }
}

@media (max-width: 1200px) {
    .blog-post-item .post-meta {
        position: relative;
    }

    .contact-section .respond-form {
        padding: 75px 20px 60px;
    }

    .gallery-section .row-eq-height {
        display: block;
    }

    .gallery-section .gallery-description {
        margin: 0;
    }

    .isotope-filters ul li a:before,
    .isotope-filters ul li a:after {
        content: none;
    }
}

@media (max-width: 992px) {
    .services-section .services-image {
        margin: 40px auto -192px;
    }

    .row-eq-height {
        display: block;
    }

    .services-section.v2 .phone-centered {
        padding: 0 0 50px;
    }

    .sidebar {
        padding: 50px 0 0 ;
    }

    .map-wrapper .infobox {
        left: 15px;
        padding: 5px 10px 5px 12px;
    }
}

@media (max-width: 768px) {
     section [class*="col-"].position-static {
        position: relative !important
    }

    section .position-static .row-background {
        position: static;
        width: 100%;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        margin: 0 0 20px;
    }

   section .position-static .row-background img {
        position: static;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .features-section .purchase-project .ov-image {
        margin: 30px 0 0 0;
    }

    .stats-item {
        display: table;
        margin: 0 auto 30px;
    }

    .stats-item .service-icon {
        left: auto;
    }

    .team-member img {
        width: 100%
    }

    .gallery-section .gallery-description {
        padding: 65px 15px;
    }
}

@media (max-width: 620px) {
    .isotope-container .col-xs-6 {
        width: 100%;
    }

    .project-item a,
    .project-item a img {
        width: 100%;
    }

    .hero-section .hero-title {
        line-height: 55px;
    }

    .blog-post-item .cover {
        margin: 0 0 20px;
    }

    .blog-post-item .cover,
    .blog-post-item .content {
        width: 100%;
        display: block;
    }

    section .wpb_video_widget.vc_video-el-width-70 .wpb_wrapper {
        width: 100%;
    }
}

@media (max-width: 400px) {
    header .logo-wrapper img {
        max-width: 170px;
    }
}

/* ---------------- VC Carouse -------------------*/
.theme-default .nivoSlider {
    box-shadow: none !important;
}

.wpb_gallery .theme-default .nivo-controlNav {
    display: none;
}

section .flexslider {
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
}

section .flex-control-nav {
    display: none !important;
}
/* ---------------- Slick Carousel ------------------ */
.slick-carousel {
  position: relative;
  overflow: hidden;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-slider * {
  outline: none !important;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Arrows */
.slick-prev, .slick-next {
  position: absolute;
  cursor: pointer;
  width: 85px;
  height: 85px;
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  z-index: 99;
  font-size: 0;
  border: none;
}

.slick-prev:before, .slick-next:before {
  position: absolute;
  font-family: FontAwesome;
  color: #888888;
  display: inline-block;
  text-decoration: inherit;
  font-size: 30px;
  line-height: 83px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slick-prev:before {
  content: "\f104";
}

.slick-next:before {
  content: "\f105";
}

.slick-prev {
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-next {
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slick-prev:hover,.slick-next:hover  {
  outline: none;
  background: rgba(0,0,0,0.15);
}

.slick-prev:hover:before,.slick-next:hover:before {
    color: #fff;
}

.tt-form select:focus{
    border-color: #7e57c2;
}

.tt-form select{
    color: #757575;
    font-size: 18px;
    border: 2px solid #e0e0e0;
    border-radius: 3px;
    padding: 12px 16px;
    margin: 0 0 25px;
    width: 100%;
    background: white !important;
}